[Desktop Entry]
Name=New Air
Name[zh_CN]=新版空气

X-KDE-PluginInfo-Name=New_Air
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
