[Desktop Entry]
Type=Application
Name=Wine Windows Program Loader
Name[zh_CN]=Wine Windows 程序装载器
Exec=wine start /unix %f
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-win-lnk;
NoDisplay=true
StartupNotify=true
