[Desktop Entry]
Type=Application
Name=XMonad
Exec=/usr/bin/xmonad-start
NoDisplay=true
# name we put on the WM spec check window
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
