[Unit]
Description=Arpwatch daemon which keeps track of ethernet/ip address pairings
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/arpwatch
ExecStart=/usr/sbin/arpwatch $OPTIONS

[Install]
WantedBy=multi-user.target
