[Desktop Entry]
Encoding=UTF-8
Exec=tqdesigner
Name=TQt3 Designer
Name[bg]=TQt3 Дизайнер
Name[br]=Ergrafer TQt3
Name[ca]=Dissenyador TQt3
Name[cs]=TQt3 designer
Name[de]=TQt3-Designer
Name[eo]=TQt3-Desegnilo
Name[es]=Diseñador TQt3
Name[et]=TQt3 disainer
Name[eu]=TQt3 Diseinatzailea
Name[gl]=Deseñador de TQt3
Name[he]=TQt3 בצעמ
Name[it]=Designer TQt3
Name[ja]=TQt3デザイナー
Name[ko]=TQt3 디자이너
Name[lv]=TQt3 Dizainers
Name[mk]=TQt3 дизајнер
Name[no]=TQt3-designer
Name[oc]=Dessinador TQt3
Name[pl]=Projektant TQt3
Name[sk]=TQt3 Dizajnér
Name[sl]=Snovalnik TQt3
Name[ta]=TQt3 À¨¼ôÀ¡Ç÷
Name[uk]=Дизайнер TQt3
Name[zh_CN.GB2312]=TQt3 设计者
Name[zh_TW.Big5]=TQt3 設計器
GenericName=Interface Designer
Comment=TQt3 interface designer
Comment[az]=TQt3 axtar üz dizayn proqramı
Comment[bg]=TQt3 interface дизайнер
Comment[br]=Ergrafer etrefas TQt3
Comment[ca]=Dissenyador d'interfícies TQt3
Comment[cs]=Editor UI pro TQt3
Comment[da]=TQt3 grænseflade designer
Comment[de]=Schnittstellen-Designer für TQt3
Comment[el]=Σχεδιασμός περιβάλλοντων TQt3
Comment[eo]=TQt3-Interfacdesegnilo
Comment[es]=Diseñador de interfaces de TQt3
Comment[et]=TQt3 dialoogide redaktor
Comment[eu]=TQt3 interfaze diseinatzailea
Comment[fi]=TQt3:n käyttöliittymäsuunnittelija
Comment[fr]=Conception d'interfaces avec TQt3
Comment[gl]=Editor de interfaces de TQt3
Comment[he]=TQt3-ל םיקשממ בצעמ
Comment[hu]=TQt3 felülettervező
Comment[is]=Viðmótshönnunartól fyrir TQt3
Comment[it]=Editor per le interfaccie TQt3
Comment[ja]=TQt3インターフェースデザイナー
Comment[ko]=TQt3 인터페이스 디자이너
Comment[lt]=TQt3 sąsajos redaktorius
Comment[lv]=TQt3 starsejas dizainers
Comment[mk]=Дизајнер на TQt3 дијалози
Comment[nl]=TQt3 interface-ontwerper
Comment[no]=TQt3-grensesnittdesigner
Comment[no_NY]=Redigering av TQt3-miljø
Comment[oc]=Dessinador d'interfacies TQt3
Comment[pl]=Projektant interfejsu TQt3
Comment[pt]=Editor de interfaces do TQt3
Comment[pt_BR]=Designer de interface TQt3
Comment[ro]=Dezvoltator de interfeţe TQt3
Comment[ru]=редактор интерфейсов приложений TQt3
Comment[sk]=TQt3 dizajnér rozhrania
Comment[sl]=Snovalnik vmesnikov za TQt3
Comment[sr]=Dizajner TQt3 interfejsa
Comment[sv]=Editor för gränssnitt till TQt3
Comment[ta]=TQt3 À¨¼ôÀ¡Ç÷
Comment[tr]=TQt3 arayüz tasarım programı
Comment[uk]=Редактор інтерфейсу для TQt3
Comment[zh_CN.GB2312]=TQt3 界面设计程序
Comment[zh_TW.Big5]=TQt3 介面編輯器
MimeType=application/x-designer;
Icon=tqdesigner
Terminal=false
Type=Application
Categories=Qt;Development;
