[Unit]
Description=Inetnet News Daemon Expiring

[Service]
User=news
PermissionsStartOnly=true
Type=simple
ExecStart=/usr/libexec/news/news.daily delayrm
