[Unit]
Description=Inetnet News Daemon Sending News
After=innd.service

[Service]
User=news
PermissionsStartOnly=true
Type=simple
ExecStart=/usr/libexec/news/nntpsend
