[Desktop Entry]
Encoding=UTF-8
Name=StarDict
GenericName[zh_CN]=星际译王
GenericName[zh_TW]=星際譯王
Comment=Lookup words
Comment[ar]=البحث عن الكلمات
Comment[cs]=Slovník s pokročilými funkcemi
Comment[fr]=Recherche de mots
Comment[hr]=Pogledaj  riječi
Comment[hu]=Szavak keresése
Comment[mk]=Барај зборови
Comment[nl]=Woorden opzoeken
Comment[pt_BR]=Procure palavras
Comment[ru]=Поиск слова
Comment[sk]=Vyhľadávané slová
Comment[tr]=Kelime arama
Comment[tt]=Süzlär küzläp toru
Comment[uk]=Слова пошуку
Comment[zh_CN]=查询单词
Comment[zh_TW]=查詢字詞
Exec=stardict
Terminal=false
Type=Application
Icon=stardict.png
StartupNotify=true
Categories=Application;Utility;Dictionary;
X-GNOME-DocPath=stardict/stardict.xml
