[Desktop Entry]
Encoding=UTF-8
Name=Desktop
Name[cs]=Pracovní plocha
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[el]=Επιφάνεια εργασίας
Name[es]=Escritorio
Name[fr]=Bureau
Name[he]=שולחן העבודה
Name[hu]=Munkaasztal
Name[lt]=Darbastalis
Name[pl]=Pulpit
Name[pt_BR]=Área de trabalho
Name[pt]=Área de Trabalho
Name[ru]=Рабочий стол
Name[sl]=Namizje
Name[sv]=Skrivbord
Name[uk]=Стільниця
Name[zh_CN]=桌面
Name[zh_TW]=桌面
Comment=Desktop Preferences
Comment[cs]=Nastavení pracovní plochy
Comment[da]=Skrivebordsindstillinger
Comment[de]=Einstellungen der Arbeitsfläche
Comment[el]=Ρυθμίσεις επιφάνειας εργασίας
Comment[es]=Preferencias del escritorio
Comment[fr]=Préférences du bureau
Comment[he]=העדפות שולחן העבודה
Comment[hu]=Asztal jellemzői
Comment[it]=Preferenze del Desktop
Comment[lt]=Darbastalio nustatymai
Comment[pl]=Preferencje pulpitu
Comment[pt]=Preferências da área de trabalho
Comment[pt_BR]=Preferências da área de trabalho
Comment[ru]=Параметры рабочего стола
Comment[sl]=Nastavitve namizja
Comment[sv]=Skrivbordsinställningar
Comment[uk]=Налаштування стільниці
Comment[zh_CN]=桌面偏好設定
Comment[zh_TW]=桌面偏好設定
Exec=pcmanfm --profile lxde --desktop-pref
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=X-LXDE;GTK;Settings;DesktopSettings;
OnlyShowIn=LXDE;
