[Desktop Entry]
Type=Application
Name=Compiz LXDE Emerald
Comment=start or restart Compiz Fusion with Emerald windows-decorator
TryExec=compiz-lxde-emerald
Exec=compiz-lxde-emerald
Icon=fusion-icon
NoDisplay=false
StartupNotify=true
Categories=Utility;
OnlyShowIn=LXDE;
Name[de_DE]=Compiz LXDE Emerald
