#
# xfs font server configuration file
#

# allow a max of 10 clients to connect to this font server
client-limit = 10

# when a font server reaches its limit, start up a new one
clone-self = on

# alternate font servers for clients to use
#alternate-servers = foo:7101,bar:7102

# where to look for fonts
catalogue = catalogue:/etc/X11/fontpath.d

# in 12 points, decipoints
default-point-size = 120

# 75 x 75 and 100 x 100
default-resolutions = 75,75,100,100

# use lazy loading on 16 bit fonts
deferglyphs = 16

# Log errors via syslog.
use-syslog = on

# For security, don't listen to TCP ports by default.
no-listen = tcp
