[Unit]
Description=Kerberos 5 Propagation
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/_kpropd -S

[Install]
WantedBy=multi-user.target
