# udev rules for libwacom supported devices

ACTION!="add|change", GOTO="libwacom_end"
KERNEL!="event[0-9]*", GOTO="libwacom_end"

ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b3", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00e3", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0044", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b8", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00f8", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b9", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0045", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0043", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00f4", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0042", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b7", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b5", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00f0", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b4", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b2", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b1", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00b0", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="002a", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="1b96", ENV{ID_MODEL_ID}=="0001", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00e6", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00e5", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00e3", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0024", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00d3", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0093", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0090", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00ce", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00cc", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00d1", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0069", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0023", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0029", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0027", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0028", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0101", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0100", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0026", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00d2", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00d4", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0022", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0021", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0020", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00d0", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00fa", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00bc", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00bb", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00ba", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0093", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0090", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00c5", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00c6", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0015", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0014", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0013", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00c0", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="003f", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00ef", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00bc", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="00ed", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1", ENV{ID_INPUT_TOUCHPAD}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="003a", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="usb", ENV{ID_VENDOR_ID}=="056a", ENV{ID_MODEL_ID}=="0041", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"

# Match all serial wacom tablets with a serial ID starting with WACf
ENV{ID_BUS}=="tty|pnp", ATTRS{id}=="WACf*", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{ID_BUS}=="tty|pnp", ATTRS{id}=="FUJ*", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"

LABEL="libwacom_end"
ENV{PRODUCT}=="5/56a/81/*", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{PRODUCT}=="5/56a/bd/*", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
ENV{PRODUCT}=="5/56a/bd/*", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
