[Desktop Entry]
Categories=Qt;KDE;Office;Viewer;
Comment[zh_CN]=CHM 查看器 (MS-Help)
Comment=A viewer of CHM (MS-Help) files
Encoding=UTF-8
Exec=kchmviewer %f
GenericName[zh_CN]=CHM 查看器
GenericName=CHM file viewer
Icon=help-contextual
MimeType=application/x-chm;
Name[zh_CN]=KchmViewer
Name=KchmViewer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
