ACTION!="add", GOTO="pilot_link_end"
SUBSYSTEM!="usb", GOTO="pilot_link_end"

# Sony
ATTR{idVendor}!="054c", GOTO="pilot_link_sony_end"
# Sony NR and other Palm OS 4.1
ATTR{idProduct}=="000a", ENV{ID_PDA}="1"
# Sony S S320 and other Palm OS 3.5
ATTR{idProduct}=="0038", ENV{ID_PDA}="1"
# Sony T, SJ series, and other Palm OS 4.0
ATTR{idProduct}=="0066", ENV{ID_PDA}="1"
# Sony S360
ATTR{idProduct}=="0095", ENV{ID_PDA}="1"
# Sony NR70V/U
ATTR{idProduct}=="009a", ENV{ID_PDA}="1"
# Sony NX
ATTR{idProduct}=="00da", ENV{ID_PDA}="1"
# Sony NZ
ATTR{idProduct}=="00e9", ENV{ID_PDA}="1"
# Sony UX
ATTR{idProduct}=="0144", ENV{ID_PDA}="1"
# Sony TJ
ATTR{idProduct}=="0169", ENV{ID_PDA}="1"
LABEL="pilot_link_sony_end"

# Handspring
ATTR{idVendor}!="082d", GOTO="pilot_link_handspring_end"
# Visor/Treo 300
ATTR{idProduct}=="0100", ENV{ID_PDA}="1"
# Treo
ATTR{idProduct}=="0200", ENV{ID_PDA}="1"
# Treo 600
ATTR{idProduct}=="0300", ENV{ID_PDA}="1"
LABEL="pilot_link_handspring_end"

# Palm, Inc. and palmOne
ATTR{idVendor}!="0830", GOTO="pilot_link_palm_end"
# m500
ATTR{idProduct}=="0001", ENV{ID_PDA}="1"
# m505
ATTR{idProduct}=="0002", ENV{ID_PDA}="1"
# m515
ATTR{idProduct}=="0003", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0010", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0011", ENV{ID_PDA}="1"
# i705
ATTR{idProduct}=="0020", ENV{ID_PDA}="1"
# Tungsten Z
ATTR{idProduct}=="0030", ENV{ID_PDA}="1"
# Tungsten W
ATTR{idProduct}=="0031", ENV{ID_PDA}="1"
# m125
ATTR{idProduct}=="0040", ENV{ID_PDA}="1"
# m130
ATTR{idProduct}=="0050", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0051", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0052", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0053", ENV{ID_PDA}="1"
# Tungsten series, Zire 71
ATTR{idProduct}=="0060", ENV{ID_PDA}="1"
# Zire 21, 31, 72, Z22, Tungsten E2, T3, TX, Treo 650, 680, LifeDrive
ATTR{idProduct}=="0061", ENV{ID_PDA}="1"
# Zire 21, 31, 72, Z22, Tungsten E2, T3, TX, Treo 650, 680, LifeDrive
ATTR{idProduct}=="0062", ENV{ID_PDA}="1"
# Zire 21, 31, 72, Z22, Tungsten E2, T3, TX, Treo 650, 680, LifeDrive
ATTR{idProduct}=="0063", ENV{ID_PDA}="1"
# Zire
ATTR{idProduct}=="0070", ENV{ID_PDA}="1"
# Zire
ATTR{idProduct}=="0071", ENV{ID_PDA}="1"
# m100
ATTR{idProduct}=="0080", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0099", ENV{ID_PDA}="1"
# unknown
ATTR{idProduct}=="0100", ENV{ID_PDA}="1"
LABEL="pilot_link_palm_end"

# Samsung i330
ATTR{idVendor}=="04e8", ATTR{idProduct}=="8001", ENV{ID_PDA}="1"

# Garmin IQUE 3600
ATTR{idVendor}=="091e", ATTR{idProduct}=="0004", ENV{ID_PDA}="1"

# Kyocera 7135 Smartphone
ATTR{idVendor}=="0c88", ATTR{idProduct}=="0021", ENV{ID_PDA}="1"
# Kyocera 6035 Smartphone
ATTR{idVendor}=="0c88", ATTR{idProduct}=="a226", ENV{ID_PDA}="1"

# Tapwave Zodiac, Zodiac2
ATTR{idVendor}=="12ef", ATTR{idProduct}=="0100", ENV{ID_PDA}="1"

# Aceeca MEZ1000
ATTR{idVendor}=="4766", ATTR{idProduct}=="0001", ENV{ID_PDA}="1"

# Alphasmart Dana
ATTR{idVendor}=="081e", ATTR{idProduct}=="df00", ENV{ID_PDA}="1"

LABEL="pilot_link_end"
