[Unit]
Description=Shadowsocks Server Service
After=NetworkManager.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/ss-server -c /etc/shadowsocks/%i.json

[Install]
WantedBy=multi-user.target
