[Desktop Entry]
Encoding=UTF-8
Name=Smart Package Manager
Name[pt_BR]=Gerenciador de Pacotes Smart
Comment=Next generation package handling tool
Comment[pt_BR]=Gerenciador de pacotes de próxima geração
Icon=smart
Exec=smart-root --gui
Type=Application
Terminal=false
StartupNotify=true
Categories=System;PackageManager;GTK;
