[Unit]
Description=Capi services for passiv ISDN cards
After=syslog.target

[Service]
ExecStart=/sbin/capiinit start
ExecStop=/sbin/capiinit stop

[Install]
WantedBy=multi-user.target
